Source: #PACKAGE#
Section: comm
Priority: optional
Maintainer: #USERNAME# <#EMAIL#>
Build-Depends: #BUILD_DEPS#
Standards-Version: #POLICY#
Homepage: https://nixys.ru

Package: #PACKAGE#
Architecture: amd64
Depends: ${misc:Depends}
Description: Program description
